<!-- This is the About Page -->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center">MBSR Online</h1>
      <h2 class="text-center">Online Mindfulness-Based Stress Reduction (MBSR)</h2>
      <div class="well">
        <p>This online MBSR training course is 100% free and is modeled on the MBSR program founded by Jon Kabat-Zinn at the <a href="http://www.umassmed.edu/cfm/Stress-Reduction/History-of-MBSR/">University of Massachusetts Medical School</a>.</p>
      </div>
    </div>
    
    <div class="col-md-6">
      <div class="well">
        <h4 class="text-center"><i>Welcome!</i></h4>
        <p>I'm <strong>so</strong> glad you found this site! Offering anything for free does seem a little suspicious these days and I get many emails about this free online MBSR course, many of which             ask one or more of the following questions:</p>
      </div>
    </div>
    
    <div class="col-md-6">
      <div class="well">
        <h4 class="text-center"><i>Is this online MBSR course really, truly, 100% free?</i></h4>
          <p>Yes.  There is no catch: no fees, no spam, no ads.  No income will be received from the site, not even indirectly.  The website is to aid in the data collection for my disseration study.</p>
      </div>
    </div>    
    
    <div class="col-md-12">
      <div class="well">
        <h4 class="text-center"><i>Is taking an online course an effective way to learn MBSR?</i></h4>
          <p>If you follow the suggestions and practices for each of the eight weeks of the course, the results can be profound.  In fact, the end-of-course reports I've received from online graduates                indicate that they benefit just as much as people who complete the live course.<br><br>
             That being said, it is a significant accomplishment to complete a course such as this on your own, and for that reason, I've done my best to make the experience interesting and varied,                    something made possible by the generosity of the world-renowned teachers whose videos and writings are posted on this site, including Jon Kabat-Zinn (Wherever You Go, There You Are), Pema                Chodron (When Things Fall Apart), Tara Brach (Radical Acceptance), Sylvia Boorstein (Don't Just Do Something, Sit There), Sharon Salzberg (A Heart As Wide as the World), Robert Sapolsky (Why              Zebras Don't Get Ulcers), Marshall Rosenberg (Non-Violent Communication), and Susan Bauer-Wu (Leaves Falling Gently).
        </p>
      </div>
    </div>
    
    <div class="col-md-12">
      <div class="well">
        <h4 class="text-center"><i>What is MBSR?</i></h4>
          <p>MBSR is a blend of meditation, body awareness and yoga: learning through practice and study how your body handles (and can resolve) stress neurologically. Through the online MBSR course, you              will learn skills that can increase your ability to:
          <ul>
            <li>Cope with stress, pain, and the challenges of everyday life</li>
            <li>Deal with disturbing events with grace and composure</li>
            <li>Be fully present and alive in this moment</li>
          </ul>
          <p>
            There has been more than <a href="http://umassmed.edu/cfm/Research/MBSR-Research/">30 years of research</a>, much of it specifically studying MBSR. While MBSR is not a "cure" for serious                 medical conditions and should not be used as a substitute for medical treatment, this body of research indicates that mindfulness training can have a significant therapeutic effect for those             experiencing stress, anxiety, high blood pressure, depression, chronic pain, migraines, heart conditions, diabetes and other ailments. In addition, participants typically report feeling more             alive, more "in-tune" with themselves and others.
          </p>
      </div>
    </div>
    
  </div>
</div>