<!-- This is the Getting Started Page at the beginning of the lessons page -->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1 class="text-center">Getting Started</h1>
    </div>
    
    <div class="col-md-3">
      <div class="well">
        <h4 class="text-center">Before You Begin...</h4>
          <p class="text-center">It's important to consider what it is that you hope will happen as a result of doing this program. For example, you may hope for some effective ways of dealing with stress           or worry, ways to cope with illness or difficult life situations, better concentration, an increase in the ability to be present and fully engaged in life, or to accept more fully yourself and             others, just as you/they are. <i><strong>What is it that you hope will happen as a result of following this program?</strong></i>
          <br>
          The <a href="http://palousemindfulness.com/docs/gettingstarted.pdf">Getting Started Worksheet</a> will help you answer this question and will create the foundation for your practice over the next           eight weeks. Please print it out now and complete the worksheet. Take your time in doing this. This is especially important because it is difficult to begin a meditation practice on your own and           you will <i>greatly increase your odds of staying with this if you are clear about your goals and when and where you will do the practices.</i></p>
      </div>
    </div>
    
    <div class="col-md-3">
      <div class="well">
        <h4 class="text-center">Creating a Manual</h4>
          <p class="text-center">It is suggest that you keep a 3-ring binder with materials from the course for reference and review. By the time the course is over, if you print the instructions for each           week as well each of the documents listed under "Reading" for that week, you will have created your own MBSR manual. If this is something you'd like to do, see <%= link_to "MBSR Manual",                   mbsrManual_path %> for suggestions about content and organization, as well as documents for the binder cover and table of contents.</p>
      </div>
    </div>    
    
    <div class="col-md-3">
      <div class="well">
        <h4 class="text-center">Videos and Reading</h4>
          <p class="text-center">For each week you will find video offerings by master teachers of mindfulness, which will motivate and inform the week's topics. Links will be provided for <i>Reading</i>             are articles, formatted for easy reading and ready to be printed for your manual. If you are so inclined, you may also want to keep a "Mindfulness Journal" to write your impressions in a more               free-form manner than just the worksheets and practice sheets allow.<br>
          Each week, the length of the video selections will vary, but the total will usually be 45 minutes or less. It’s a good idea to choose a given day of the week and time (for example, Sunday at 8pm)           so that you can watch them in one sitting. This can be done in place of your 30-minute practice for that day, if you like. Also, at least skim the readings on that day, but plan to read them in             their entirety by the end of the week.	The readings and the videos in the Supplementary materials section are entirely optional.</p>
      </div>
    </div>
    
    <div class="col-md-3">
      <div class="well">
        <h4 class="text-center">Daily Practice</h4>
        <p class="text-center">You will be doing <strong><i>30 minutes of daily practice</i></strong>, and each week introduces a new set of practices, taken from the "Guided Practices" you see in the menu         just to the left of this text. Each week, you will print a <strong>Formal Practice sheet</strong> which is tailored for that week and will be your guide for that week's practice.<br>
        In addition, there is <strong>Informal Practice</strong>, which will help you integrate the learnings and practices into your daily life. Unlike the formal practice, you don't have to schedule this         into your day, it's simply having an intention to bring a special awareness into some of the activities that you already do on a daily basis. At the end of each day, you will take just five minutes         or so to reflect on the day, using that week's <strong>Informal Practice sheet</strong> as a guide. Although this may look less important than the 30 minutes of scheduled formal practice, it is             through the Informal Practice that you will see and realize the concrete and natural benefits of the learnings and practices of MBSR.</p>
      </div>
    </div>
    
    <div class="col-md-12">
      <div class="well row">
        <h4 class="text-center">If you are ready to continue now, please go to <%= link_to "Week 1", week_one_path %> (after completing your <a                                                                       href="http://palousemindfulness.com/docs/gettingstarted.pdf">Getting Started Worksheet</a> and having read the <%= link_to "Introduction", introduction_path %>)</h4>
      </div>
    </div>
    
  </div>
</div>