<div class="jumbotron text-center">
  <h1>Welcome to Intervention Wellness Training</h1>
  <h3>A site that provides lessons, tools, and surveys to allow individuals to practice meditation and provide feedback</h3>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="well">
      <h2 class="text-center">Sign Up</h2>
      <h4 class="text-center">Sign up and gain access to the learning community.</h4>
      </br>
    <%= link_to "Sign up for Free", new_user_registration_path(plan: @basic_plan.id), class: 'btn btn-success btn-lg btn-block' %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="well">
      <h2 class="text-center">Added Benefits of the Site</h2>
      <h4 class="text-center">Learn more about the study</h4>
      </br>
      <%= link_to "Read About the Study", about_path, class: 'btn btn-info btn-lg btn-block' %>
    </div>
  </div>
</div>