<div class="jumbotron text-center">
  <h1>Welcome to Intervention Wellness Training</h1>
  <h3>A site that provides lessons, tools, and surveys to allow individuals to practice meditation and provide feedback</h3>
</div>