<!-- This is the Introduction Page at the beginning of the lessons page -->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1 class="text-center">Introduction</h1>
    </div>
    
    <div class="col-md-6">
      <div class="well">
        <h4 class="text-center">What is Mindfulness-Based Stress Reduction (MBSR)?</h4><br>
          <p class="text-center">In this 10-minute video from The Center for Mindfulness at the University of Massachusetts Medical School, Jon Kabat-Zinn and others involved in the founding of MBSR                 provide some background about the MBSR program.</p>
          <br><br><br>
          <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/Bttwy0Ub42w" frameborder="0" allowfullscreen></iframe>
          </div><br><br>
      </div>
    </div>
    <div class="col-md-6">
      <div class="well">
        <h4 class="text-center">What do you mean by "Mindfulness"?</h4>
          <p class="text-center">"Mindfulness" is used in many contexts nowadays and there are many different understandings of the term. Diana Winston of UCLA's Mindful Awareness Research Center gives my           favorite definition: <strong>Paying attention to present moment experience with open curiosity and a willingness to be with what is.</strong><br>
          Here is a 3-minute video by Susan Bauer-Wu that will help describe what we mean by mindfulness in the context of this course. Also, A great written introduction to MBSR can be found in the 2-page           document, <a href="http://palousemindfulness.com/docs/MBSRintro-lewis.pdf">MBSR: An Introduction, by Roberta F. Lewis</a>.</p>
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/rITHL6pzIKI" frameborder="0" allowfullscreen></iframe>
          </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="well">
        <h4 class="text-center">If you want to know even more...</h4>
          <p class="text-center">There has been over <a href="http://umassmed.edu/cfm/Research/MBSR-Research/">30 years of peer-reviewed research</a> concerning the medical benefits of mindful meditation.           <a href="http://palousemindfulness.com/docs/research_summary.pdf">MBSR Research Summary</a> is a concise document compiled by UMass Medical Center and much more can be found through the                     Scientific Research page on this site.<br>
          You don't really need to know more about mindfulness to get started with the MBSR course, but if you are interested, there is an information-packed 74-minute video by Jon Kabat-Zinn that goes               into much more detail than the short videos above, and also summarizes some of the research that validates the practice of mindfulness in terms of physical health and psychological well-being.             </p>
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/rSU8ftmmhmw" frameborder="0" allowfullscreen></iframe>
          </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="well">
        <h4 class="text-center">The Importance of Practice</h4><br>
          <p class="text-center">This course is highly experiential and the daily practice is perhaps the most important component.  You wouldn’t expect to learn to surf by reading a book about surfboards           and waves, and learning a mindfulness practice is no different than any other skill that involves both mind and body. You know from your own experience in learning to play an instrument, or a               sport, or any complex skill whatsoever, that practice is important. <strong>Your body/mind is the most complex instrument in the universe. It takes time and practice to use it effectively and               harmoniously.</strong>
          <br>
          For this reason, we recommend that you set aside <strong>30 minutes a day</strong> for practice. <strong>This may be the most difficult hurdle you face in getting started because one of the very           issues you are facing may be not having enough time for all that needs to get done in a day - how are you going to find an extra 30 minutes?</strong> Previous participants have said that after a           few weeks of practice, although their time to "do things" is technically 30 minutes less, there can be a feeling of having more space and time, even in the middle of a very busy day.</p><br>
      </div>
    </div>
    <div class="col-md-8 col-md-offset-2">
      <div class="well row">
        <h4 class="text-center">If you are ready to continue now, please go to <%= link_to "Getting Started", gettingStarted_path %> before going on to Week 1</h4>
        <p class="text-center"><i><strong>NOTE:</strong> During the course of this program, it is possible that uncomfortable feelings or unpleasant memories may arise. Since this program is done without           interaction with an instructor, it is important that you take care of your own emotional and mental health. If you are under a counselor or doctor's care, please let them know of your plan to go           through this program, and keep them informed of your experience as you go along, so that they may monitor any unexpected reactions to the material or practices presented here.</i></p>
      </div>
    </div>
  </div>
</div>