<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center">Lovingkindness Meditation (13 mins)</h1>
    </div>
            
    <div class="col-md-12">
      <div class="well">
        <p>The Lovingkindness Meditation, sometimes known as a "Metta Prayer", is traditionally done for successively wider circles of caring, beginning with yourself. Because many of us are so self-                  critical that it can be difficult to find loving feelings for ourselves, this meditation begins with a person who you know to be loving towards you, and only after this do you bring focus to                yourself, then successively widening the circle of good will to those closest to you, then those who you feel neutral toward, then those with whom you have difficulties, and continuing outward              until it includes all living beings.
        </p>
          <ul>
            <li><strong><a href="http://palousemindfulness.com/disks/lovingkindness.mp3">Play Lovingkindness Meditation</a></strong></li>
          </ul>
        <p>If you are deaf or hard-of-hearing, or English is not your first language, you may want to try the <strong><a href="https://www.youtube.com/watch?v=v1HdSkAJsRc&index=8&list=PLbiVpU59JkVaFMGi0A8Im_hfSh-SWsFwg">video version with closed captioning</a></strong>.<br><br>
           You are also welcome to download this recording to another device.  It can be done by right-clicking on the <strong>"Play Lovingkindness Meditation"</strong> link above, and selecting "Save Link            As" or "Download" from your menu of options.
        </p>
      </div>
    </div>
  </div>
</div>