<!-- This is the Getting Started Page at the beginning of the lessons page -->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1 class="text-center">MBSR Manual</h1>
    </div>
    
    <div class="col-md-12">
      <div class="well">
        <p class="text-center">Although it is not necessary to have a printed manual to benefit from the program, we are offering a way for you to create your own manual if you desire. Having printed               materials makes it easier to see what’s been covered, provides a very good reference for later review, and allows you to highlight passages or make notes.<br>
        In our live class, the materials for each week (instructions, practice sheets, readings) are not given out until we get to that week, so the manual builds as the course progresses. You can build           your own manual in the same way, adding to the manual a little bit each week. Below are suggestions for assembling your manual:</p>
      </div>
    </div>
    
    <div class="col-md-3">
      <div class="well">
        <h4 class="text-center">Binder</h4>
          <p class="text-center">We suggest using a 3-ring binder and one-inch rings, with clear pockets for the cover and spine (such as an "Avery Durable View Binder with 1-inch slant ring"). Here is the           <a href="http://palousemindfulness.com/docs/manual-cover.pdf">graphic for the cover</a> and <a href="http://palousemindfulness.com/docs/manual-spine.pdf">title for the spine</a> that we use for             our local MBSR class. We usually use white binders for the class since that blends best with the manual cover and spine graphic.</p>
      </div>
    </div>    
    
    <div class="col-md-3">
      <div class="well">
        <h4 class="text-center">Dividers for each of the 8 weeks</h4>
          <p class="text-center">Use an 8-tab divider set to give each week a separate section. You can simply write or print "Week 1", etc. on each tab.</p>
      </div>
    </div>
    
    <div class="col-md-3">
      <div class="well">
        <h4 class="text-center">First pages of the manual</h4>
          <p class="text-center">Print the following pages for the very first section, before the divider for "Week 1":</p>
            <ul>
              <li><a href="http://palousemindfulness.com/docs/manual-contents.pdf">Table of Contents</a></li>
              <li><a href="http://palousemindfulness.com/docs/MBSRintro-lewis.pdf">MBSR: An Introduction</a></li>
              <li><a href="http://palousemindfulness.com/docs/research_summary.pdf">MBSR Research Study</a></li>
            </ul>
      </div>
    </div>
    
    <div class="col-md-3">
      <div class="well">
        <h4 class="text-center">Content for Weeks</h4>
        <p class="text-center">The contents for each of the weeks can be added later, as you progress through the course. This is the way we do it in the live MBSR class - students get that week's                 materials at the beginning of each weekly class.<br>Typically each week's printing will include:</p>
        <ul>
          <li>Overview and Instructions</li>
          <li>Formal Practice Sheet</li>
          <li>Informal Practice Sheet</li>
          <li>Reading Material for the Week</li>
        </ul>
      </div>
    </div>
    
    <div class="col-md-12">
      <div class="well row">
        <h4 class="text-center">If you are ready to continue now, please go to <%= link_to "Week 1", week_one_path %></h4>
      </div>
    </div>
    
  </div>
</div>