<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center">Mindful Yoga 1 (37 mins)</h1>
    </div>
            
    <div class="col-md-12">
      <div class="well">
        <p>Even if you are very experienced in yoga, please be sure to read <strong><a href="http://palousemindfulness.com/disks/yoga.pdf">Mindful Yoga</a></strong> before your first time doing this practice.         <strong><i>Mindful Yoga is different than many traditional yoga practices in that there is less of a focus on the exact posture achieved and more focus on body/mind awareness.</i></strong>
        </p>
          <ul>
            <li><strong><a href="https://www.youtube.com/watch?v=Teo0f1ab1PY&index=3&list=PLbiVpU59JkVaFMGi0A8Im_hfSh-SWsFwg">Video for Mindful Yoga 1</a></strong></li>
          </ul>
        <p>If you have serious physical limitations, you may want to try <strong><a href="https://www.youtube.com/watch?v=dYWHpUgnqUs">Mindful Yoga 1 with camera emphasis on chair poses</a></strong>.  The             guidance is identical except that the camera is focused on another instructor who does all the poses from a chair. <strong>Even if you don't have serious enough physical limitations to need the               version with chair poses, be sure to modify the poses in any way that makes them more doable for you.</strong><br><br>
        We recommend you view the video at least the first few times to see how the poses are done, but afterwards you may choose to use the<strong><a href="http://palousemindfulness.com/disks/yoga1.mp3">             audio version for Yoga 1</a></strong>.  You are welcome to download the audio version to another device by right-clicking the link directly above and selecting "Save Link As" or "Download". 
        </p>
      </div>
    </div>
  </div>
</div>