<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center">Mountain Meditation (20 mins)</h1>
    </div>
            
    <div class="col-md-12">
      <div class="well">
        <p>This meditation is guided by Dave Potter (adapted from Jon Kabat-Zinn's version*).  [Also available: <a href="http://palousemindfulness.com/docs/mountain%20meditation.pdf">Mountain Meditation             Script]</a>
        </p>
          <ul>
            <li><strong><a href="http://palousemindfulness.com/disks/mountain.mp3">Play Mountain Meditation</a></strong></li>
          </ul>
        <p>If you are deaf or hard-of-hearing, or English is not your first language, you may want to try the <strong><a href="https://www.youtube.com/watch?v=9SwnJ6kqpa0&index=6&list=PLbiVpU59JkVaFMGi0A8Im_hfSh-SWsFwg">video version with closed captioning</a></strong>.<br><br>
         You are also welcome to download this recording to another device.  It can be done by right-clicking on the <strong>"Play Mountain Meditation"</strong> link above, and selecting "Save Link As" or "Download" from your menu of options.
        </p>
      </div>
    </div>
  </div>
</div>