<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center">RAIN Meditation (11 mins)</h1>
    </div>
            
    <div class="col-md-12">
      <div class="well">
        <p>This meditation is guided by Tara Brach</p>
          <ul>
            <li>See <a href="https://www.youtube.com/watch?v=1Boui7gv1x0&index=5&list=PLbiVpU59JkVaFMGi0A8Im_hfSh-SWsFwg">RAIN Meditatioin Video</a> for the video version of this meditation.</li>
            <li>See <a href="https://www.youtube.com/watch?v=HdviZ2lSxfc">RAIN: Cultivating a Mindful Awareness</a> for the full video of the talk containing Tara's meditation.</li>
            <li>For other guided meditations led by Tara, see <a href="http://www.tarabrach.com/audioarchives-guided-meditations.html">tarabrach.com</a>.</li>
        </ul>
        <ul>
          <li><strong><a href="http://palousemindfulness.com/disks/RAIN.mp3">Play RAIN Meditation</a></strong></li>
        </ul>
        <p>If you are deaf or hard-of-hearing, or English is not your first language, you may want to try the <strong><a href="https://www.youtube.com/watch?v=1Boui7gv1x0&index=5&list=PLbiVpU59JkVaFMGi0A8Im_hfSh-SWsFwg">video version with closed captioning</a></strong>.<br><br>
         You are also welcome to download this recording to another device.  It can be done by right-clicking on the <strong>"Play RAIN Meditation"</strong> link above, and selecting "Save Link As" or                "Download" from your menu of options.
        </p>
      </div>
    </div>
  </div>
</div>