<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center">Silent Meditation (30 mins)</h1>
    </div>
            
    <div class="col-md-12">
      <div class="well">
        <p>This audio was created so that you could have a 30-minute silent meditation without having to watch the clock. It begins with three chimes and ends with three chimes, with silence between. There            is also a <a href="http://palousemindfulness.com/disks/silent15min.mp3"><strong>15-minute version</strong></a> and a <a href="http://palousemindfulness.com/disks/silent20min.mp3"><strong>20-                minute version</strong></a>.                  
        </p>
          <ul>
            <li><strong><a href="http://palousemindfulness.com/disks/silent30min.mp3">Play 30 Minute Silent Meditation</a></strong></li>
          </ul>
        <p>You are also welcome to download this recording to another device.  It can be done by right-clicking on the <strong>"Play 30 Minute Silent Meditation"</strong> link above, and selecting "Save Link As" or                      "Download" from your menu of options.
        </p>
      </div>
    </div>
  </div>
</div>