<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center">Sitting Meditation (32 mins)</h1>
    </div>
            
    <div class="col-md-12">
      <div class="well">
        <p>Before doing this meditation for the first time, please read the <strong><a href="http://palousemindfulness.com/disks/sittingmeditation.pdf">description of the Sitting Meditation.</a></strong><br>
          This 32-minute version is best when time is available, but a <strong><a href="http://palousemindfulness.com/disks/sittingmeditation20min.mp3">20-minute version</a></strong> is also available, if you are short on               time.
        </p>
          <ul>
            <li><strong><a href="http://palousemindfulness.com/disks/sittingmeditation.mp3">Play Sitting Meditation</a></strong></li>
          </ul>
        <p>If you are deaf or hard-of-hearing, or English is not your first language, you may want to try the <strong><a href="https://www.youtube.com/watch?v=JOzsMntyE6k&index=2&list=PLbiVpU59JkVaFMGi0A8Im_hfSh-SWsFwg">video version with closed captioning</a></strong>.<br><br>
         You are also welcome to download this recording to another device.  It can be done by right-clicking on the <strong>"Play Sitting Meditation"</strong> link above, and selecting "Save Link As" or "Download" from your menu of options.
        </p>
      </div>
    </div>
  </div>
</div>