<!-- This is the Week 4 Session 4.2 Page -->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center">Week 4 - Session 4.2 Material</h1>
      <h2 class="text-center">Conclusion - Developing a Practice of Your Own</h2>
      
      <div class="col-md-12">
      <div class="well">
          <p>This brings us to the final section of the eight-week course, and if this has been useful for you so far, now may be the time to consider how you might continue practicing mindfulness in your               daily life.  You may decide that you would like to continue the practice in a formal way, incorporating in your schedule a sitting meditation or yoga, for instance, or you may already have an               idea of how you would incorporate into your life one or more of the many informal practices (e.g., simple awareness, mindful eating, STOP, the RAIN or PAIN processes).</p>
      </div>
    </div>
      
    <div class="col-md-12">
      <div class="well">
        <h4 class="text-center"><i>Developing a practice of your own</i></h4>
          <p>Of the people who take the MBSR course and have found ways to incorporate mindfulness into their lives, every one of them does it in a unique way, a way that suits their temperament and needs.           One person might continue with a 30-min/day meditation practice, another might take a regular yoga class, another may have made their daily walk into a meditation using present-moment awareness of           their inner and outer worlds as they walk, and yet another may intentionally use one or more of the many informal practices throughout their day.  The important thing is not the specific practices           you choose, but that you make them yours, and that they resonate with you in a way that and that they help you to be more alive, engaged and joyful in your daily life.</p>
      </div>
    </div>
      
    <div class="col-md-12">
      <div class="well">
        <h4 class="text-center"><i>Certificate of Completion</i></h4>
          <p>If you have completed the practices each week, viewed the videos and read the provided reading materials, <strong>Congratulations!</strong> This is not a trivial accomplishment. <strong>You can           request a certificate of completion</strong> by submitting the seven sets of practice sheets and a one page description of what you've learned and how you will be incorporating what you learned             into your life (they can be physically mailed or provided to the study organizer). A request can be sent through the <strong><%= link_to "'Contact Us Form'", new_contact_path %></strong> or                 requested in person, but the certificate will be sent electronically, so be sure to include your email address. There's no cost. If you haven't done all the at-home practice, but have averaged               more than half over the span of the course, you are still eligible for a certificate.</p>
        </div>
    </div>  
    
    <div class="col-md-6">
      <div class="well">
        <h4 class="text-center"><i>Taking it from here: audio, visual, written and other resources</i></h4>
          <p>Included in the materials for this week is a short video by Susan Kaiser Greenland that presents a very brief summary of mindfulness in daily life, as well as some short documents having to do           with developing a daily mindfulness practice</p>
      </div>
    </div>
    
    <div class="col-md-6">
      <div class="well">
        <h4 class="text-center"><i>Readings</i></h4>
          <ul>
            <li><a href="http://palousemindfulness.com/docs/jkz_deepening.pdf">Deeping a Personal Meditation Practice</a></li>
            <li><a href="http://palousemindfulness.com/docs/jkz_suggestions.pdf">Suggestions for Daily Practice</a></li>
            <li><a href="http://palousemindfulness.com/docs/remen%20service.pdf">In the Service of Life</a></li>
          </ul>
      </div>
    </div>    
    
    <div class="col-md-6 col-md-offset-3">
      <div class="well">
        <h4 class="text-center"><i>Supplementary Materials</i></h4>
          <ul>
            <li><a href="http://palousemindfulness.com/docs/layers.pdf">Layers of Awareness</a></li>            
          </ul>        
      </div>
    </div>
    
    <div class="col-md-12">
      <div class="well">
        <h1 class="text-center">Videos</h1>
          <h3>Mindfulness is Not A Crystal Ball</h3>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/kRd19hFrR0c" frameborder="0" allowfullscreen></iframe>
            </div><br>
          <h3>Happiness</h3>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/igGoRkOFbwM" frameborder="0" allowfullscreen></iframe>
            </div>        
      </div>
    </div>
    
  </div>
</div>