<!-- This is the Week 2 Session 2.1 Page -->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center">Week 2 - Session 2.1 Material</h1>
      <h2 class="text-center">Dealing with Thoughts</h2>
      <div class="well">
        <p>At this point in your practice, you may be noticing just how busy the mind is, with replays of past events, expectations/fears about the future, or evaluations of present experience (I like             this, don't lke that, when will this be over, etc.). It can seem that the object of meditation is to get rid of all thoughts and distractions, and when that isn't happening, you may feel like you           are failing at meditation and/or the meditation can turn into a struggle, wanting your experience to be different than it is. In fact, the kind of meditation you are learning is more about working         skillfully with <strong>any</strong> internal or external experience, and isn't really about "getting rid" of thoughts and distractions.</p>
      </div>
    </div>
    
    <div class="col-md-6">
      <div class="well">
        <h4 class="text-center"><i>Videos Preface</i></h4>
          <p>It's common for there to be a sense of pushing oneself in meditation, and the first video, <strong>Non-Striving</strong>, addresses the possibility of taking the striving out of meditation               (and life!). The second video, <strong>Attention, Intention, Attitude</strong>, explores the attitude we take toward ourselves in meditation, which is often harsh, and the possibility of being             gentler with ourselves. In the third video, <strong>Dealing with Thoughts (in life and in meditation)</strong>, Tara Brach talks about our relationship with thoughts, including a short practice             of intentionally bringing awareness to thoughts. The last video, <strong>Surrender to the Monkeys</strong>, is also by Tara, and addresses our wanting for things to be different than they are and           the wisdom of taking things just as they are.</p>
      </div>
    </div>
    
    <div class="col-md-6">
      <div class="well">
        <h4 class="text-center"><i>Readings Preface</i></h4>
          <p>The reading list this week begins with <strong>Mindful Yoga</strong> by Jon Kabat-Zinn. It's important to read this before beginning the Yoga practice that begins this week. The next two                 articles address common misconceptions in meditation. In <strong>Meditation: It's Not What You Think</strong>, that while meditation can often be accompanied by peace and relaxation, "meditation           is not relaxation spelled differently", and as Erik Wikstrom says in the quote above, <i>"The moments of stillness are one of meditation's byproducts, not the practice itself."</i><br>
          Just in case this all seems to make meditation less magical, <strong>Mastering Your Own Mind</strong> gives evidence that concentration, kindness and happiness can all be developed through                 meditation and also refers to the actual, physical changes that happen in the brain as a result of even a modest amount of meditation practice.</p>
          <ul>
            <li><a href="http://palousemindfulness.com/disks/yoga.pdf">Mindful Yoga</a></li>
            <li><a href="http://palousemindfulness.com/docs/JKZ_thinking.pdf">Meditation - It's Not What You Think</a></li>
            <li><a href="http://palousemindfulness.com/docs/mastering.pdf">Mastering Your Own Mind</a></li>
          </ul>
      </div>
    </div>    
    
    <div class="col-md-6">
      <div class="well">
        <h4 class="text-center"><i>Daily Practices</i></h4>
          <p>For the <strong>formal practice</strong> we introduce <strong>Mindful Yoga</strong> into your 30 minute practice, alternating with the Sitting Meditation and choosing one day to do a Body               Scan.  This is all outlined in your Week 3 Practice Log, below.   <strong><i>Even if you are an experienced yoga practitioner, be sure to read "Mindful Yoga" in the reading below, before                   beginning the yoga practice. Mindful Yoga is different than many traditional yoga practices in that there is less of a focus on the exact posture achieved and more focus on body/mind awareness.             </i></strong><br>
          The <strong>informal practice</strong> is about becoming aware of how we experience and process unpleasant events.  Just as in previous weeks, allow a few minutes before going to sleep to                   complete the informal practices log.</p>
          <ul>
            <li><a href="http://palousemindfulness.com/practice/week3-formal.pdf">Formal Practice</a></li>
            <li><a href="http://palousemindfulness.com/practice/week3-informal.pdf">Informal Practice</a></li>
          </ul>
      </div>
    </div>
    
    <div class="col-md-6">
      <div class="well">
        <h4 class="text-center"><i>Supplementary Materials</i></h4>
          <ul>
            <li><a href="https://www.youtube.com/watch?v=H812bBkoHNk">"Letting Go" in Meditation</a></li>
            <li><a href="http://palousemindfulness.com/docs/brown%20thoughts.pdf">Thoughts on Thinking</a></li>
            <li><a href="http://palousemindfulness.com/docs/nisker%20thoughts.pdf">I Hadn't Thought of That</a></li>
            <li><a href="http://www.youtube.com/watch?v=7tRdDqXgsJ0">Transform Your Mind, Change Your Brain</a></li>
            <li><a href="http://palousemindfulness.com/docs/autobio_5chapters.pdf">Autobiography in Five Chapters</a></li>
          </ul>        
      </div>
    </div>
    
    <div class="col-md-12">
      <div class="well">
        <h1 class="text-center">Videos</h1>
          <h3>Non-Striving</h3>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/Ye3xwfECuYc" frameborder="0" allowfullscreen></iframe>
            </div><br>
          <h3>Attention, Intention, Attitude</h3>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/UABlpt0R51Y" frameborder="0" allowfullscreen></iframe>
            </div><br>
          <h3>Dealing with Thoughts (in life and in meditation)</h3>   
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/9kNXhJf6jOM" frameborder="0" allowfullscreen></iframe>
            </div><br>
          <h3>Surrender to the Monkeys</h3>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/H8yoWnEmTO8" frameborder="0" allowfullscreen></iframe>
            </div>
      </div>
    </div>
    
  </div>
</div>