<!-- This is the Week 3 Session 3.1 Page -->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center">Week 3 - Session 3.1 Material</h1>
      <h2 class="text-center">Dealing with Difficult Emotions/Sensations</h2>
      
      <div class="col-md-12">
      <div class="well">
        <h4 class="text-center"><i>Mid-Way Assessment</i></h4>
          <p><i>We are now at the halfway point, and this is a good time to reflect on what’s been happening so far for you in doing the practices and in your daily life.  So far, you have experienced the             three main formal practices (body scan, sitting meditation, yoga) and a number of informal practices (simple awareness, mindful eating, awareness of pleasant/unpleasant experiences, STOP/one                 minute breathing space).<br>
          Taking the time now for reflection will help you to notice and appreciate any positive changes that may have resulted from the practices.  A likely outcome of this awareness and active                       appreciation will be a strengthening and reinforcement that can naturally carry forward to the end of this course and beyond.  Also, now would be the time to reflect on those areas where you may             still be struggling, and allow the possibility of appropriate mid-course corrections.  <strong>It can be helpful to actually write down your thoughts at this point, reflecting on your personal               learnings as well as the things you may still be struggling with.</strong>  As you do this, you may recall a specific incident in your life that stands out, that somehow relates to the work you             have done so far in this course.</i></p>
      </div>
    </div>
      
    <div class="col-md-12">
      <div class="well">
        <h4 class="text-center"><i>Dealing with physical and emotional pain</i></h4>
          <p>This week’s topic has to do with dealing with pain, both physical and emotional.  We normally react to pain or discomfort in one of two ways:<br>
          <ul>
            <li><strong>Blocking:</strong> We try to block or deny the discomfort by pushing through it through force of will, by distracting ourselves, or by self-medicating with food, alcohol or drugs.                 This is ultimately unsatisfactory since as soon as you stop “pushing through” or your distraction or self-medication wears off, it can come back even stronger. In cases where the discomfort is               a signal indicating corrective action needs to take place, missing the signal can result in injury or disease. And, of course, self-medicating can create many problems, including complex side-               effects or even addiction.</li><br>
            <li><strong>Drowning:</strong> We become overwhelmed by it, drowning in the discomfort and its associated fears or judgments (“I can’t stand this!”, “What if this continues or gets worse?”, “How               could they/I have been so stupid?!?”, etc.). This leads to incapacitation and a sense of hopelessness and powerlessness.</li>
          </ul>
          It's bad enough that neither of these strategies are very effective or satisfying, but a continuing reliance on them usually makes things even worse than they already are. There is a middle                 ground, a place where you are neither pushing away difficult feelings/situations, nor being subsumed by them. This "middle way" involves learning to feel the sensations or emotions, but not being           swept away by them. A surprising and counter-intuitive result of staying with something in this way is that the "I've got to get out of here" component of the discomfort often lessens, or                   sometimes can even disappear.<br>
          </p>
      </div>
    </div>  
    
    <div class="col-md-6">
      <div class="well">
        <h4 class="text-center"><i>Videos Preface (scroll down for videos)</i></h4>
          <p>To help find this middle ground, in the video for this week, <strong>RAIN: Cultivating a Mindful Awareness</strong>, Tara Brach describes the <strong>RAIN Process</strong>, which is an acronym           for Recognize, Allow, Investigate, Natural awareness. You can think of RAIN as being a more nuanced form of the STOP process we learned last week, allowing for a fuller investigation of just what           is happening.</p><br>
      </div>
    </div>
    
    <div class="col-md-6">
      <div class="well">
        <h4 class="text-center"><i>Readings Preface</i></h4>
          <p>The readings for this week include an article in which Tara goes into more detail about RAIN, called <strong>Finding True Refuge</strong>, and a one-page summary called <strong>The RAIN                   Process</strong>. Also part of the reading is <strong>Buddhism's Pain Relief</strong>, which describes and motivates this "middle way" of dealing with pain.</p>
          <ul>
            <li><a href="http://palousemindfulness.com/docs/RAIN-article.pdf">Finding True Refuge</a></li>
            <li><a href="http://palousemindfulness.com/docs/RAIN.pdf">The RAIN Process</a></li>
            <li><a href="http://palousemindfulness.com/docs/buddhism-pain.pdf">Buddhism's Pain Relief</a></li>
          </ul>
      </div>
    </div>    
    
    <div class="col-md-12">
      <div class="well">
        <h4 class="text-center"><i>Daily Practices</i></h4>
          <p>For the <strong>formal practice</strong>, we focus a little more on the sitting meditation, alternating it with your choice of one of the other practices, and at least one of those "alternate"           days, try the <strong>RAIN Meditation</strong>, offered on this site courtesy of Tara Brach (there is both the audio version given on the menu to the left and the video version given below). The             RAIN Meditation is a shorter practice (11 min), so on the day you do this meditation, you will have a shorter practice session (if you’d like a full 30 minutes, you can add 19 minutes of silent             meditation on your own that day).

          The <strong>informal practice</strong> will be to continue using the <strong>STOP process</strong> that we introduced last week, and on at least one or two days, try the <strong>RAIN                         process</strong> at a time when you are experiencing an unwanted emotion. STOP and RAIN are slightly different, so each has a separate log sheet.</p>
          <ul>
            <li><a href="http://palousemindfulness.com/practice/week5-formal.pdf">Formal Practice</a></li>
            <li><strong>Informal Practice</strong> - Choose either STOP or RAIN on any given day:</li>
            <ul>
              <li><a href="http://palousemindfulness.com/practice/week4-informal.pdf">STOP Log Sheet</a> (see <a href="http://palousemindfulness.com/docs/STOP.pdf">The STOP Process</a>)</li>
              <li><a href="http://palousemindfulness.com/practice/week5-informal.pdf">RAIN Log Sheet</a> (see <a href="http://palousemindfulness.com/docs/RAIN.pdf">The RAIN Process</a>)</li>
            </ul>
          </ul>
      </div>
    </div>
    
    <div class="col-md-6 col-md-offset-3">
      <div class="well">
        <h4 class="text-center"><i>Supplementary Materials</i></h4>
          <ul>
            <li><a href="http://www.amazon.com/True-Refuge-Finding-Freedom-Awakened/dp/0553807625">True Refuge</a></li>
            <li><a href="http://www.amazon.com/Back-Sense-Revolutionary-Approach-Halting/dp/0767905814">Back Sense: Halting the Cycle of Chronic Back Pain</a></li>
            <li><a href="http://www.amazon.com/Mindfulness-Solution-Everyday-Practices-Problems/dp/1606232940">The Mindfulness Solution</a></li>
          </ul>        
      </div>
    </div>
    
    <div class="col-md-12">
      <div class="well">
        <h1 class="text-center">Videos</h1>
          <h3>RAIN: Cultivating a Mindful Awareness</h3>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/ilWODx-B1hI" frameborder="0" allowfullscreen></iframe>
            </div>
      </div>
    </div>
    
  </div>
</div>