<!-- This is the Week 1 Session 1.1 Page -->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1 class="text-center">Week 1 - Session 1.1 Material</h1>
      <h2 class="text-center">Simple Awareness</h2>
    </div>
    
    <div class="col-md-6">
      <div class="well">
        <h4 class="text-center"><i>Videos Preface</i></h4>
          <p>The videos for this week begin with the <strong>60 Minutes Special on Mindfulness</strong>, reported by Anderson Cooper of CBS and CNN, followed by <strong>Life is Right                                 Now</strong>, in which Jon Kabat-Zinn talks about how science is beginning to understand the process and effects of meditation. Also, Bob Stahl guides you through a <strong>Raisin                           Meditation</strong> using a single raisin.
          <li><i>To get the most benefit out of Bob's video, bring a raisin when you sit down to watch it so you can experience on your own what he is describing in the video.</i></li> 
          The last video, <strong>Befriending the Body</strong>, is a short piece by Jon Kabat-Zinn which talks about the importance of our relationship with our body in this course.</p>
      </div>
    </div>
    
    <div class="col-md-6">
      <div class="well">
        <h4 class="text-center"><i>Readings Preface</i></h4>
          <p>Each week, there are readings which are an important part of the program. This week, the main reading is about the <strong>Body Scan Meditation</strong> you will be doing             for your           30 minutes of daily practice this week. In <strong>7 Myths of Meditation</strong>, Deepak Choprah addresses common misunderstandings about meditation, including the idea that one must                       have a quiet mind to meditate successfully. <strong>What Would It Take for You to Be Still</strong> describes one person's personal experience with mindfulness meditation and will give you a               little bit more of an idea of what to expect from this course.</p>
          <ul>
            <li><a href="http://palousemindfulness.com/disks/bodyscan.pdf">Body Scan Meditation</a></li>
            <li><a href="http://palousemindfulness.com/docs/seven-myths.pdf">7 Myths of Meditation</a></li>
            <li><a href="http://palousemindfulness.com/docs/what-would-it-take.pdf">What Would It Take for You to Be Still</a></li>
          </ul>
      </div>
    </div>    
    
    <div class="col-md-6">
      <div class="well">
        <h4 class="text-center"><i>Daily Practices Preface</i></h4>
          <p>This week begins your 30-minute daily <strong>Formal Practice</strong>, and we begin with the <strong>Body Scan Meditation</strong>, which you can find in the menu just to             the left           of this text under "Guided Practices". Below, you can see the link to the <strong>Formal Practice sheet</strong> you will print for each week. It has a place for brief notations about                       how your practice is going.<br>
          For the <strong>Informal Practice</strong> this week, it is suggested that you bring mindful awareness to some otherwise routine activity such as washing the dishes and/or eating a meal. At the             end of each day, using the <strong>Informal Practice sheet</strong> you will be printing for this week (see below), take just five minutes or so to see if you can recall a daily activity which             you brought awareness to that day.</p>
          <ul>
            <li><a href="http://palousemindfulness.com/practice/week1-formal.pdf">Formal Practice</a> - Body Scan</li>
            <li><a href="http://palousemindfulness.com/practice/week1-informal.pdf">Informal Practice</a> - Simple Awareness and/or Mindful Eating</li>
          </ul>
      </div>
    </div>
    
    <div class="col-md-6">
      <div class="well">
        <h4 class="text-center"><i>Supplementary Materials Preface</i></h4>
        <p>In addition, each week will indicate some supplementary reading or viewing materials. Listed there are are suggestions for background reading or viewing if you'd like to know more about                 a given week's topic. Of special interest this week are two great resources having to do with eating mindfully: <strong>Mouthfuls of Mindfulness</strong>, written by Jan Chozen Bays and a                   video, <strong>Introduction to Mindful Eating</strong>, by Michelle DuVal.</p>
          <ul>
            <li><a href="http://palousemindfulness.com/docs/mouthfuls-mindfulness.pdf">Mouthfuls of Mindness</a></li>
            <li><a href="http://www.youtube.com/watch?v=6tw93IgfL0U">Introduction to Mindful Eating</a></li>
            <li><a href="http://www.youtube.com/watch?feature=endscreen&NR=1&v=j2uooeprDkE">An Apple as Past, Present, and Future</a></li>
            <li><a href="http://www.npr.org/templates/story/story.php?storyId=7654964">Meditation a hit for Pain Management</a></li>
          </ul>        
      </div>
    </div>
    
    <div class="col-md-12">
      <div class="well">
        <h1 class="text-center">Videos</h1>
          <h3>60 Minutes Special on Mindfulness</h3>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/KDxIBQT7F54" frameborder="0" allowfullscreen></iframe>
            </div><br>
          <h3>Life is Right Now</h3>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/VGtJQNqMXBY" frameborder="0" allowfullscreen></iframe>
            </div><br>
          <h3>Raisin Meditation</h3>   
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/totkvnfnygQ" frameborder="0" allowfullscreen></iframe>
            </div><br>
          <h3>Befriending the Body</h3>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/iS53roI_pWE" frameborder="0" allowfullscreen></iframe>
            </div>
      </div>
    </div>
    
  </div>
</div>