<!-- This is the Week 3 Session 3.2 Page -->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center">Week 3 - Session 3.2 Material</h1>
      <h2 class="text-center">Mindfulness and Communication</h2>
      
      <div class="col-md-12">
      <div class="well">
          <p>If you were to think over all the truly stressful situations in your life, you'd probably find that many if not most involve other people. This week, we focus on communication and what it means           to be mindful in our interactions with others, whether it be family members, co-workers or neighbors. Our focus up until now has been on our internal world (thoughts, feelings and sensations); now           we move from the intra-personal to the inter-personal, taking into account another's world, and the place where their world and ours meet. This means recognizing that "the other" (person or                 persons) have their own perceptions, feelings and needs, which are almost certainly different than ours, especially in times of conflict.</p>
      </div>
    </div>
      
    <div class="col-md-12">
      <div class="well">
        <h4 class="text-center"><i>Accommodate, Demand, Withdraw as ways to deal with conflict</i></h4>
          <p>Most of us have a favorite strategy to deal with conflict that was learned early in life, one that is habitual and embedded in our interactions with others. Some of us learned to                         <strong>accommodate</strong>: "be nice", "go along to get along", "don't make waves". Others of us learned to <strong>demand</strong>: "don't let anyone walk over you", "take care of number one",           "my way or the highway". Still others learned to <strong>withdraw</strong>: "It doesn't matter to me", "I don't care", "I'm not going to play this game". When a difficult conversation stalls or             escalates, as it often does when we only have accommodate, demand or withdraw as strategies, we often resort to <strong>compromise</strong>, where everyone gives a little and everyone gets only             part of what they wanted.</p>
      </div>
    </div>
      
    <div class="col-md-12">
      <div class="well">
        <h4 class="text-center"><i>A fourth way - Blend</i></h4>
          <p>There is a fourth way, one that involves investigating both your world and the other's world, that can sometimes yield a surprising and creative solution that honors both worlds. In the martial           art, Aikido, this would be called <strong>blending</strong>, a move that harms neither party and turns conflict into more of a dance than a fight. Marshall Rosenberg, developer of Non-Violent               Communication(NVC), has developed a way of interacting that brings this sense of blending into the world of inter-personal conflict.</p>
      </div>
    </div>  
    
    <div class="col-md-6">
      <div class="well">
        <h4 class="text-center"><i>Videos Preface</i></h4>
          <p>In the first video for this week, Tara Brach talks about <strong>The Sacred Art of Listening</strong>, and in the second, <strong>Awakening Through Conflict</strong>, she begins to answer the             question of how one deals with conflict in communication. In the third video, <strong>Non-Violent Communication</strong>, Marshall Rosenberg expands on this idea and also gives you a sense of the           man behind Non-Violent Communication (NVC). If this introduction to NVC is intriguing, there is a much longer video and a book by Marshall in the supplementary materials section.</p>
      </div>
    </div>
    
    <div class="col-md-6">
      <div class="well">
        <h4 class="text-center"><i>Readings Preface</i></h4>
          <p><strong>Conflict Management Styles</strong> is a one-page description of the four ways of dealing with conflict and <strong>The Heart of Nonviolent Communication</strong> is one of the best               descriptions of NVC I've ever seen. Pema Chodron, in <strong>The Answer to Anger</strong>, describes a way of dealing with anger that is a middle way, neither exploding nor imploding.</p>
          <ul>
            <li><a href="http://palousemindfulness.com/docs/conflict_styles.pdf">Conflict Management Styles</a></li>
            <li><a href="http://palousemindfulness.com/docs/non-violent-communication.pdf">The Heart of Nonviolent Communication</a></li>
            <li><a href="http://palousemindfulness.com/docs/anger-chodron.pdf">The Answer to Anger</a></li>
          </ul>
      </div>
    </div>    
    
    <div class="col-md-12">
      <div class="well">
        <h4 class="text-center"><i>Daily Practices</i></h4>
          <p>This week, we introduce the <strong>Mountain Meditation</strong> and the <strong>Lake Meditation</strong>, one of which we suggest you try at least once this week, in place of one of your                 normal 30 minute practices. These are both shorter practices (20 min), so on the day you do one of these meditations, you will have a shorter practice session (if you’d like a full 30 minutes, you           can add 10 minutes of silent meditation on your own that day).<br>
          For the <strong>formal practice</strong> this week, we are now at a point where you can freely choose between any of the three main practices you've experienced so far: Body Scan, Sitting                   Meditation, Yoga (and the Mountain Meditation or Lake Meditation at least one day).<br>
          The <strong>informal practices</strong> up until now have been focusing on the intra-personal (what's happening inside you) and now we begin paying attention to the inter-personal, using the                 <strong>Communication Calendar</strong>, noticing what happens when we bring mindfulness into relationship.</p>
          <ul>
            <li><a href="http://palousemindfulness.com/practice/week6-formal.pdf">Formal Practice</a> - Body Scan, Sitting, or Yoga (including a Mountain or Lake Med.)</li>
            <li><a href="http://palousemindfulness.com/practice/week6-informal.pdf">Informal Practice</a> - Communication Calendar</li>
            </ul>
          </ul>
      </div>
    </div>
    
    <div class="col-md-6 col-md-offset-3">
      <div class="well">
        <h4 class="text-center"><i>Supplementary Materials</i></h4>
          <ul>
            <li><a href="http://www.youtube.com/watch?v=XBGlF7-MPFI&feature=related">Non-Violent Communication</a></li>
            <li><a href="http://www.amazon.com/Nonviolent-Communication-Language-Marshall-Rosenberg/dp/1892005034">Non-Violent Communication: A Language of Life</a></li>
            <li><a href="http://palousemindfulness.com/docs/email_goleman.pdf">E-Mail Is Easy to Write (and to Misread)</a></li>
            <li><a href="http://palousemindfulness.com/docs/AHFOWL.pdf">AH, FOWL - The Anger Process</a></li>
          </ul>        
      </div>
    </div>
    
    <div class="col-md-12">
      <div class="well">
        <h1 class="text-center">Videos</h1>
          <h3>The Sacred Art of Listening</h3>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/39eFKcIi-JY" frameborder="0" allowfullscreen></iframe>
            </div><br>
          <h3>Awakening Through Conflict</h3>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/KCPYNfLWXxE" frameborder="0" allowfullscreen></iframe>
            </div><br>
        <h3>Non-Violent Communication</h3>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/SQe_5Ll9dQE" frameborder="0" allowfullscreen></iframe>
            </div>        
      </div>
    </div>
    
  </div>
</div>