<!-- This is the Week 2 Session 2.2 Page -->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center">Week 2 - Session 2.2 Material</h1>
      <h2 class="text-center">Stress: Responding vs. Reacting</h2>
    </div>
    
    <div class="col-md-6">
      <div class="well">
        <h4 class="text-center"><i>Videos Preface (scroll down for videos)</i></h4>
          <p>We begin with <strong>Stress - Portrait of a Killer</strong>, featuring Robert Sapolsky, a neuroscientist at Stanford University and possibly the world's greatest authority on the causes and                effects of stress. This video describes the physiology of stress and how, in modern life, our stress response, designed evolutionarily to protect us from danger, can actually put our lives in                danger when it is activated continually and without resolution. This is the bad news.<br>
             The good news, <strong>How To Make Stress Your Friend</strong>, comes from Kelly McGonigal, a psychologist specializing in health medicine, who puts stress in perspective, re-framing stress,                not as an enemy to health and well-being, but as a response which is protective and even life-giving. In the last video, Susan Bauer-Wu describes how mindfulness can counteract a                            disproportionate stress reaction and introduces you to <strong>STOP</strong>, a mindfulness practice you can use literally anywhere anytime to ground you and help you to be more resilient and                effective in the face of difficult situations.</p>
      </div>
    </div>
    
    <div class="col-md-6">
      <div class="well">
        <h4 class="text-center"><i>Readings Preface</i></h4>
          <p><strong>What Is Stress</strong> and Harvard Health's <strong>Understanding the Stress Response</strong>, describe the physiological and neurolocal effects effects of stress, distinguishing               between acute stress, which is short-term and adaptive, and chronic stress, the primary cause of stress-related health problems. <strong>Anatomy of Fear</strong> is a graphic depiction of the               stress response. <strong>STOP: One-minute Breathing Space</strong> is a one-page description of the process you will be using for this week's informal practice, and <strong>The Magic Quarter                 Second</strong> is a short article by Tara Brach that weaves in some science to validate "STOP".</p>
          <ul>
            <li><a href="http://palousemindfulness.com/docs/what-is-stress.pdf">What Is Stress?</a></li>
            <li><a href="http://palousemindfulness.com/docs/anatomy-of-fear.pdf">The Anatomy of Fear</a></li>
            <li><a href="http://palousemindfulness.com/docs/understanding-stress.pdf">Understanding the Stress Response</a></li>
            <li><a href="http://palousemindfulness.com/docs/STOP.pdf">STOP: One-Minute Breathing Space</a></li>
            <li><a href="http://palousemindfulness.com/docs/understanding-stress.pdf">The Magic Quarter Second</a></li>
          </ul>
      </div><br>
    </div>    
    
    <div class="col-md-6">
      <div class="well">
        <h4 class="text-center"><i>Daily Practices</i></h4>
          <p>For the <strong>formal practice</strong>, we continue with Yoga and the Sitting Meditation, alternating between them. If there are any of the yogas you haven't yet tried, this could be the time              to try one or more of them.<br>
             For the <strong>informal practice</strong>, you will look for opportunities to practice <strong>STOP</strong> during the course of the day. Don't expect to remember the precise steps of "STOP"              during the most trying parts of the day - it's enough just to remember to stop and take a breath. The best way to make it second nature is to practice it when you aren't stressed, such as                    during the "in between" times, like waiting in line, walking from one office to another, getting in/out of your car, etc.</p>
          <ul>
            <li><a href="http://palousemindfulness.com/practice/week4-formal.pdf">Formal Practice</a></li>
            <li><a href="http://palousemindfulness.com/practice/week4-informal.pdf">Informal Practice</a></li>
          </ul>
      </div>
    </div>
    
    <div class="col-md-6">
      <div class="well">
        <h4 class="text-center"><i>Supplementary Materials</i></h4>
          <ul>
            <li><a href="https://www.youtube.com/watch?v=r8-jOAsvj2c&index=1&list=PLbiVpU59JkVZeQPQ1u5mS8U1c0V7J5OJU">The Psychology of Stress</a></li>
            <li><a href="http://www.amazon.com/Why-Zebras-Dont-Ulcers-Third/dp/0805073698">Why Zebras Don't Get Ulcers</a></li>
            <li><a href="http://www.amazon.com/Leaves-Falling-Gently-Life-Limiting-Connectedness/dp/1572249994">Leaves Falling Gently</a></li>
            <li><a href="http://palousemindfulness.com/docs/otherbrain.pdf">The Other Brain Also Deals with Many Woes</a></li>
            <li><a href="http://palousemindfulness.com/docs/science-of-anxiety.pdf">The Science of Anxiety</a></li>
            <li><a href="http://palousemindfulness.com/docs/anatomy-of-anxiety.pdf">The Anatomy of Anxiety</a></li>
          </ul>        
      </div>
    </div>
    
    <div class="col-md-12">
      <div class="well">
        <h1 class="text-center">Videos</h1>
          <h3>Stress - Portrait of a Killer</h3>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/a58RrLUs4YE" frameborder="0" allowfullscreen></iframe>
            </div><br>
          <h3>How to Make Stress Your Friend</h3>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/154-mh8JbNg" frameborder="0" allowfullscreen></iframe>
            </div><br>
          <h3>STOP: A Short Mindfulness Practice</h3>   
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/WaszqhPCWX0" frameborder="0" allowfullscreen></iframe>
            </div><br>
      </div>
    </div>
    
  </div>
</div>