<!-- This is the Week 1 Session 1.2 Page -->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center">Week 1 - Session 1.2 Material</h1>
      <h2 class="text-center">Attention and the Brain</h2>
      <div class="well">
        <p>The scene: Joshua Bell, one of the world’s greatest violinists, playing a beautiful, intricate, moving piece on a three million dollar violin in a DC Metro Station, and while he plays, over             1,000 people walk on by and only 7 stop to listen, and even then only for a few minutes. How many amazingly beautiful things do we miss in a day, simply because we don’t expect them to be there, or         because our attention is somewhere else, or because we are not even focused on anything present right now, but on a past or anticipated future event?</p>
      </div>
    </div>
    
    <div class="col-md-6">
      <div class="well">
        <h4 class="text-center"><i>Videos Preface</i></h4>
          <p>This week's videos include <strong>The Monkey Business Illusion</strong> by Daniel Simons, a cognitive scientist at University of Illinois, who tests our powers of observation and illustrates           the limitations inherent in our ability to perceive fully what is going on around us. If you haven't already seen this short clip, you may be surprised at just how specific (and limited) our               powers of attention are. Another short video, <strong>Joshua Bell Plays a $3 Million Violin</strong>, chronicles the "concert" Bell played at the DC Metro station described above. Also included             is <strong>Coming to Our Senses</strong> in which Jon Kabat-Zinn talks about our sometimes shaky relationship to our own senses, and there's an entertaining <strong>All it takes is 10 Mindful               Minutes</strong> that includes juggling and a provocative challenge to do "nothing" for 10 minutes.</p>
      </div>
    </div>
    
    <div class="col-md-6">
      <div class="well">
        <h4 class="text-center"><i>Readings Preface</i></h4>
          <p><strong>Sitting Meditation</strong> describes the practice we are introducing this week. <strong>Something to Think About</strong> is a one-page description of the Joshua Bell experiment                 described above. The next two readings, <strong>How the Brain Rewires Itself</strong> and <strong>How Meditation Affects the Gray Matter of the Brain</strong>, discuss the growing body of                   research that demonstrates how meditative practice, even when done for a relatively short period of time (weeks not years), can physically alter the brain in positive and adaptive ways.</p>
          <ul>
            <li><a href="http://palousemindfulness.com/disks/sittingmeditation.pdf">Sitting Meditation</a></li>
            <li><a href="http://palousemindfulness.com/docs/joshua%20bell.pdf">Something to Think About</a></li>
            <li><a href="http://palousemindfulness.com/docs/brain-rewires.pdf">How the Brain Rewires Itself</a></li>
            <li><a href="http://palousemindfulness.com/docs/graymatter.pdf">How Meditation Affects the Gray Matter of the Brain</a></li>  
          </ul>
      </div>
    </div>    
    
    <div class="col-md-12">
      <div class="well">
        <h4 class="text-center"><i>Daily Practices Preface</i></h4>
          <p>For the <strong>formal practice</strong> we continue the Body Scan but also introduce <strong>Sitting Meditation</strong>, using breath as the primary object of awareness.  It can seem that             the goal of the Body Scan or a Sitting Meditation is to stay focused on exactly one thing at a time (ankle, wrist, breath) and that when you notice your awareness has moved (to a memory, internal           narrative, sound and wonderings about the sound), that you are somehow failing. These practices will increase your ability to focus and concentrate, but they will also expand your ability to be             with whatever comes into your field of experience, non-judgmentally.  Your <strong>NOTICING that your attention has moved to another object is, in itself, mindfulness in action.</strong>                   Mindfulness includes both a concentrative attention (think laser beam) AND a capacity to perceive a larger picture (think floodlight).  Both are important.  Focusing on only one thing leaves the           larger picture unseen, and maintaining only a broad focus does not allow exploration of the parts.<br>
          The <strong>informal practice</strong> this week is about becoming aware of how we experience and process pleasant events.  They don't need to be major events, they can be something as simple as           noticing the sun on your face or someone smiling at you. Just as we did last week, allow a few minutes before going to sleep to complete the informal practice log. As you did last week, print out           the Formal and Informal Practice sheets and use them to record your experiences during the week.</p>
          <ul>
            <li><a href="http://palousemindfulness.com/practice/week2-formal.pdf">Formal Practice</a></li>
            <li><a href="http://palousemindfulness.com/practice/week2-informal.pdf">Informal Practice</a></li>
          </ul>
      </div>
    </div>
    
    <div class="col-md-6 col-md-offset-3">
      <div class="well">
        <h4 class="text-center"><i>Supplementary Materials Preface</i></h4>
          <ul>
            <li><a href="https://www.youtube.com/watch?v=BJhZ0J3bIYc">Interview of Joshua Bell regarding DC Metro experiment</a></li>
            <li><a href="http://www.amazon.com/The-Invisible-Gorilla-Intuitions-Deceive/dp/0307459667">The Invisible Gorilla</a></li>
            <li><a href="http://www.youtube.com/watch?feature=player_embedded&v=4Gcohaq8Uhs#!">Positive Emotions and Mindfulness</a></li>
            <li><a href="http://palousemindfulness.com/docs/mind-over-matter.pdf">Mind Over Matter</a></li>
          </ul>        
      </div>
    </div>
    
    <div class="col-md-12">
      <div class="well">
        <h1 class="text-center">Videos</h1>
          <h3>The Monkey Business Illusion</h3>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/IGQmdoK_ZfY" frameborder="0" allowfullscreen></iframe>
            </div><br>
          <h3>Joshua Bell plays a $3 Million Violin</h3>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" width="420" height="315" src="https://www.youtube.com/embed/9gti4JFwP_o" frameborder="0" allowfullscreen></iframe>
            </div><br>
          <h3>Coming to Our Senses</h3>   
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/XNvZkepAiMo?list=PLbiVpU59JkValOIEIo2Y65mBopHCjKvBo" frameborder="0" allowfullscreen>                       </iframe>
            </div><br>
          <h3>All it takes is 10 Mindful Minutes</h3>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/qzR62JJCMBQ" frameborder="0" allowfullscreen></iframe>
            </div>
      </div>
    </div>
    
  </div>
</div>