<!-- This is the Week 4 Session 4.1 Page -->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center">Week 4 - Session 4.1 Material</h1>
      <h2 class="text-center">Mindfulness and Compassion</h2>
      
      <div class="col-md-12">
      <div class="well">
          <p>In some mindfulness courses, the linkage between mindfulness and compassion is not very explicit, relying on the modeling by the instructor (acceptance and compassion extended to students and             others) and the logical extension of the idea of accepting one's own experience. If one were to rely only on a secular definition of mindfulness, which typically emphasizes paying close attention           to one's own experience and staying in the present moment, an argument could even be made that a trained killer could be perfectly mindful, and be more a effective killer as a result, with no               contradiction to this secular definition. Of course, something seems very wrong with this, since kindness and compassion are at the core of almost every meditative tradition.</p>
      </div>
    </div>
      
    <div class="col-md-12">
      <div class="well">
        <h4 class="text-center"><i>Videos (scroll down for videos) and Reading</i></h4>
          <p>The videos and readings explore this, the idea that concern for others is something that is natural, endemic, to who we are as humans. Dacher Keltner's video, <strong>The Evolutionary Roots of           Compassion</strong>, and Eckman's article, <strong>Survival of the Kindest</strong>, explore this theme. Similarly, in the Supplementary Materials, the Dalai Lama makes a case for compassion being           a basic human trait, in <strong>Compassionate Ethics in Difficult Times</strong>., as do Sylvia Boorstein and Sharon Salzberg in <strong>Universal Compassion</strong>.<br>
          We also explore the natural linkages there are with mindfulness and compassion (Shauna Shapiro's video, <strong>How Mindfulness Cultivates Compassion</strong> and her article, <strong>Does                   Mindfulness Make You Compassionate</strong>). In our culture, it can be argued that the person we are least kind to is often ourselves and in <strong>First, Forgive Yourself</strong>, Tara Brach             talks about "waking up from the trance of unworthiness". In <strong>Self-Compassion</strong>, Farida Zaman points out our tendency to be overly critical of ourselves and some ways to cultivate a             healthy self-compassion.</p>
        <h5><strong>Readings</strong></h5>
          <ul>
            <li><a href="http://palousemindfulness.com/docs/survival-ekman.pdf">Survival of the Kindest</a></li>
            <li><a href="http://palousemindfulness.com/docs/shapiro-compassion.pdf">Does Mindfulness Make You More Compassionate?</a></li>
            <li><a href="http://palousemindfulness.com/docs/first-forgive-yourself.pdf">First, Forgive Yourself</a></li>
            <li><a href="http://palousemindfulness.com/docs/Self-Compassion.pdf">Self-Compassion</a></li>
      </div>
    </div>
      
    <div class="col-md-12">
      <div class="well">
        <h4 class="text-center"><i>Daily Practices</i></h4>
          <p>In keeping with this theme, we introduce the <strong>Lovingkindness Meditation</strong>, which we suggest you try at least once this week. It is a shorter practice (13 min), so when you do this             meditation, you can extend it for another 17 minutes to give yourself a full 30 minutes on that day. Or, if you'd like to extend a bit of lovingkindess to yourself(!), you can stop at the end of             the 13 minute meditation.<br>
            For the <strong>formal practice</strong> this week, you can choose between any of the three main practices you've experienced so far: Body Scan, Sitting Meditation, Yoga, including at least one             day of the Lovingkindness meditation.<br>
            For the <strong>informal practice</strong>, on any given day, you may choose any of the practices you've experienced so far (e.g., simple awareness, mindful eating, STOP, RAIN), and enter your               experience on the supplied log.</p>
          <ul>
            <li><a href="http://palousemindfulness.com/practice/week7-formal.pdf">Formal Practice</a> - Body Scan, Sitting, or Yoga <i>(including Lovingkindness)</i></li>
            <li><a href="http://palousemindfulness.com/practice/week7-informal.pdf">Informal Practice</a> - Any (Simple Awareness, Mindful Eating, STOP, RAIN, etc.)</li>
            </ul>
          </ul>
      </div>
    </div>
    
    <div class="col-md-6 col-md-offset-3">
      <div class="well">
        <h4 class="text-center"><i>Supplementary Materials</i></h4>
          <ul>
            <li><a href="https://www.youtube.com/watch?v=UUhDHR5CrCE">Unconditional Love</a></li>
            <li><a href="https://www.youtube.com/watch?v=qRWLzP48n84">Compassionate Ethics in Difficult Times</a></li>
            <li><a href="https://www.youtube.com/watch?v=rX1QQGhe6HM">Universal Compassion</a></li>
            <li><a href="https://www.youtube.com/watch?v=l7E7FBSlB1U">Mindfulness and Compassion</a></li>
            <li><a href="http://www.youtube.com/watch?v=-gNFp4Olcvs">Managing Anxiety with Mindfulness</a></li>
            <li><a href="http://palousemindfulness.com/docs/friends-with-self.pdf">Making Friends with Yourself</a></li>
            <li><a href="http://palousemindfulness.com/docs/McMindfulness.pdf">Beyond McMindfulness</a></li>
            <li><a href="http://www.oprah.com/spirit/How-to-Choose-Happiness/">Choosing Happiness</a></li>
          </ul>        
      </div>
    </div>
    
    <div class="col-md-12">
      <div class="well">
        <h1 class="text-center">Videos</h1>
          <h3>The Evolutionary Roots of Compassion</h3>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/6o7fer8xNUM" frameborder="0" allowfullscreen></iframe>
            </div><br>
          <h3>How Mindfulness Cultivates Compassion</h3>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/C3J46R7lemk" frameborder="0" allowfullscreen></iframe>
            </div><br>
        <h3>Mindfulness and Self-Compassion</h3>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/-oK8wuPQSiA" frameborder="0" allowfullscreen></iframe>
            </div>        
      </div>
    </div>
    
  </div>
</div>